In [31]:
import requests
import pandas as pd

In [32]:
with open('dests.txt','r') as file:
    destinations = file.read().splitlines()

In [33]:
df = pd.DataFrame(columns = ['Target','Distance_km','Duration(hour+minutes)','Longitude','latitude'])

In [27]:
api_key = 'AIzaSyBuvQ7QAK9rBjZeLMU32k9Rwi8PajytuaA'

In [34]:
df

Empty DataFrame
Columns: [Target, Distance_km, Duration(hour+minutes), Longitude, latitude]
Index: []

In [37]:
for destination in destinations:
    url = f'https://maps.googleapis.com/maps/api/geocode/json?address={destination}&key={api_key}'
    response = requests.get(url)
    data = response.json()
    lat = data['results'][0]['geometry']['location']['lat']
    lng = data['results'][0]['geometry']['location']['lng']
    
    url = f'https://maps.googleapis.com/maps/api/distancematrix/json?origins=Tel+Aviv&destinations={destination}&key={api_key}'
    response = requests.get(url)
    data = response.json()
    distance = data['rows'][0]['elements'][0]['distance']['value'] / 1000 # convert to kilometers
    duration = data['rows'][0]['elements'][0]['duration']['text']
    
    df = df.append({
        'Target': destination,
        'Distance_km': distance,
        'Duration(hour+minutes)': duration,
        'Longitude': lng,
        'latitude': lat
    }, ignore_index=True)

In [39]:
df

      Target  Distance_km Duration(hour+minutes)  Longitude   latitude
0   Istanbul     1815.227        21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4532.541         2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883         2 days 3 hours  14.514100  35.899237
3      Basel     4093.629         1 day 20 hours   7.588576  47.559599
4       Doha     2164.477       22 hours 39 mins  51.531040  25.285447

In [46]:
df_further = df.sort_values(by = 'Distance_km',ascending = False)

In [55]:
#df_further.head(3)
df.nlargest(3,'Distance_km')

      Target  Distance_km Duration(hour+minutes)  Longitude   latitude
1  Amsterdam     4532.541         2 days 0 hours   4.904139  52.367573
3      Basel     4093.629         1 day 20 hours   7.588576  47.559599
2   Valletta     3792.883         2 days 3 hours  14.514100  35.899237

  Target  Distance_km Duration(hour+minutes)  Longitude   latitude
0   Doha     2164.477       22 hours 39 mins   51.53104  25.285447